openapi: 3.1.0
info:
  title: My Clients - Nail Master Management API
  description: |
    A comprehensive REST API for the My Clients platform - a professional client and service management system designed for nail masters and beauty professionals.

    ## Features

    * **Client Management** - Create and manage detailed client profiles with contact information and preferences
    * **Service Catalog** - Define services with dynamic pricing and duration estimates
    * **Appointment Scheduling** - Integrated calendar system for managing bookings
    * **Business Analytics** - Real-time insights into revenue, client metrics, and performance
    * **Multi-User Support** - Role-based access control for salon teams

    ## Resources

    * [My Clients Documentation](https://myClients.example.com/docs)
    * [GitHub Repository](https://github.com/mynails/my-clients)
    * [Support Portal](https://support.myClients.example.com)

  version: 1.0.0
  contact:
    name: My Clients Support
    url: https://myClients.example.com
    email: support@myClients.example.com
  license:
    name: MIT
    url: https://opensource.org/license/MIT

externalDocs:
  description: API Documentation
  url: https://myClients.example.com/api/docs

servers:
  - url: https://api.myClients.com/v1
    description: Production API
  - url: https://staging-api.myClients.com/v1
    description: Staging API

security:
  - bearerAuth: []
  - apiKeyHeader: []

tags:
  - name: Authentication
    description: User authentication and authorization endpoints
  - name: Clients
    description: Client profile management and operations
  - name: Services
    description: Service catalog and pricing management
  - name: Appointments
    description: Appointment scheduling and calendar management
  - name: Staff
    description: Staff/technician management and availability
  - name: Notifications
    description: Notification preferences and history
  - name: Analytics
    description: Business metrics and performance analytics

paths:
  /auth/signup:
    post:
      tags:
        - Authentication
      summary: Create a new account
      description: Register a new nail master or salon account
      operationId: createAccount
      security:
        - {}
      requestBody:
        description: Account registration details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignupRequest'
      responses:
        '201':
          description: Account created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'

  /auth/login:
    post:
      tags:
        - Authentication
      summary: Authenticate user
      description: Login with email and password to receive authentication token
      operationId: login
      security:
        - {}
      requestBody:
        description: Login credentials
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthToken'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/profile:
    get:
      tags:
        - Authentication
      summary: Get current user profile
      description: Retrieve authenticated user information
      operationId: getCurrentUser
      responses:
        '200':
          description: User profile retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /clients:
    get:
      tags:
        - Clients
      summary: List all clients
      description: Retrieve paginated list of clients with optional filtering
      operationId: listClients
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: search
          in: query
          description: Search by client name or phone number
          schema:
            type: string
      responses:
        '200':
          description: Clients retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Client'
                  - $ref: '#/components/schemas/PaginatedResource'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Clients
      summary: Create a new client
      description: Add a new client to the client database
      operationId: createClient
      requestBody:
        description: Client information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRequest'
      responses:
        '201':
          description: Client created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /clients/{clientId}:
    get:
      tags:
        - Clients
      summary: Get client details
      description: Retrieve complete information about a specific client
      operationId: getClient
      parameters:
        - $ref: '#/components/parameters/clientId'
      responses:
        '200':
          description: Client found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Clients
      summary: Update client information
      description: Modify client profile details
      operationId: updateClient
      parameters:
        - $ref: '#/components/parameters/clientId'
      requestBody:
        description: Updated client information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClientRequest'
      responses:
        '200':
          description: Client updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Client'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Clients
      summary: Delete a client
      description: Remove a client from the system
      operationId: deleteClient
      parameters:
        - $ref: '#/components/parameters/clientId'
      responses:
        '204':
          description: Client deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /services:
    get:
      tags:
        - Services
      summary: List all services
      description: Retrieve all services in the catalog
      operationId: listServices
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
      responses:
        '200':
          description: Services retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Service'
                  - $ref: '#/components/schemas/PaginatedResource'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Services
      summary: Create a new service
      description: Add a new service to the catalog
      operationId: createService
      requestBody:
        description: Service details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
      responses:
        '201':
          description: Service created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /services/{serviceId}:
    get:
      tags:
        - Services
      summary: Get service details
      description: Retrieve information about a specific service
      operationId: getService
      parameters:
        - $ref: '#/components/parameters/serviceId'
      responses:
        '200':
          description: Service found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Services
      summary: Update service
      description: Modify service details or pricing
      operationId: updateService
      parameters:
        - $ref: '#/components/parameters/serviceId'
      requestBody:
        description: Updated service information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceRequest'
      responses:
        '200':
          description: Service updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Services
      summary: Delete service
      description: Remove a service from the catalog
      operationId: deleteService
      parameters:
        - $ref: '#/components/parameters/serviceId'
      responses:
        '204':
          description: Service deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /appointments:
    get:
      tags:
        - Appointments
      summary: List appointments
      description: Retrieve appointments with optional date filtering
      operationId: listAppointments
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: startDate
          in: query
          description: Filter appointments from this date (ISO 8601)
          schema:
            type: string
            format: date-time
            examples:
              - "2024-01-01T00:00:00Z"
        - name: endDate
          in: query
          description: Filter appointments until this date (ISO 8601)
          schema:
            type: string
            format: date-time
            examples:
              - "2024-01-31T23:59:59Z"
        - name: status
          in: query
          description: Filter by appointment status
          schema:
            type: string
            enum:
              - scheduled
              - completed
              - cancelled
              - no-show
      responses:
        '200':
          description: Appointments retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Appointment'
                  - $ref: '#/components/schemas/PaginatedResource'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Appointments
      summary: Create appointment
      description: Schedule a new appointment for a client
      operationId: createAppointment
      requestBody:
        description: Appointment details
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentRequest'
      responses:
        '201':
          description: Appointment created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'

  /appointments/{appointmentId}:
    get:
      tags:
        - Appointments
      summary: Get appointment details
      description: Retrieve information about a specific appointment
      operationId: getAppointment
      parameters:
        - $ref: '#/components/parameters/appointmentId'
      responses:
        '200':
          description: Appointment found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Appointments
      summary: Update appointment
      description: Modify appointment details or reschedule
      operationId: updateAppointment
      parameters:
        - $ref: '#/components/parameters/appointmentId'
      requestBody:
        description: Updated appointment information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentRequest'
      responses:
        '200':
          description: Appointment updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Appointment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      tags:
        - Appointments
      summary: Cancel appointment
      description: Cancel or remove an appointment
      operationId: deleteAppointment
      parameters:
        - $ref: '#/components/parameters/appointmentId'
      responses:
        '204':
          description: Appointment cancelled successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /analytics/dashboard:
    get:
      tags:
        - Analytics
      summary: Get dashboard analytics
      description: Retrieve key business metrics for the current month
      operationId: getDashboardMetrics
      parameters:
        - name: month
          in: query
          description: Month in YYYY-MM format (defaults to current month)
          schema:
            type: string
            pattern: '^\d{4}-\d{2}$'
            examples:
              - "2024-01"
      responses:
        '200':
          description: Dashboard metrics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardMetrics'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /analytics/revenue:
    get:
      tags:
        - Analytics
      summary: Get revenue analytics
      description: Retrieve revenue trends and income statistics
      operationId: getRevenueAnalytics
      parameters:
        - name: startDate
          in: query
          description: Start date in ISO 8601 format
          schema:
            type: string
            format: date-time
            examples:
              - "2024-01-01T00:00:00Z"
        - name: endDate
          in: query
          description: End date in ISO 8601 format
          schema:
            type: string
            format: date-time
            examples:
              - "2024-01-31T23:59:59Z"
      responses:
        '200':
          description: Revenue analytics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueAnalytics'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /analytics/clients:
    get:
      tags:
        - Analytics
      summary: Get client analytics
      description: Retrieve client statistics and engagement metrics
      operationId: getClientAnalytics
      responses:
        '200':
          description: Client analytics retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientAnalytics'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /staff:
    get:
      tags:
        - Staff
      summary: List all staff members
      description: Retrieve all staff/technicians in the salon
      operationId: listStaff
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: status
          in: query
          description: Filter by staff status
          schema:
            type: string
            enum:
              - active
              - inactive
              - on-leave
      responses:
        '200':
          description: Staff members retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Staff'
                  - $ref: '#/components/schemas/PaginatedResource'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags:
        - Staff
      summary: Add new staff member
      description: Register a new technician or staff member
      operationId: createStaff
      requestBody:
        description: Staff member information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaffRequest'
      responses:
        '201':
          description: Staff member created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /staff/{staffId}:
    get:
      tags:
        - Staff
      summary: Get staff details
      description: Retrieve complete information about a staff member
      operationId: getStaff
      parameters:
        - $ref: '#/components/parameters/staffId'
      responses:
        '200':
          description: Staff member found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Staff
      summary: Update staff information
      description: Modify staff member details and roles
      operationId: updateStaff
      parameters:
        - $ref: '#/components/parameters/staffId'
      requestBody:
        description: Updated staff information
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaffRequest'
      responses:
        '200':
          description: Staff member updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Staff'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Staff
      summary: Remove staff member
      description: Deactivate or remove a staff member from the system
      operationId: deleteStaff
      parameters:
        - $ref: '#/components/parameters/staffId'
      responses:
        '204':
          description: Staff member removed successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /staff/{staffId}/availability:
    get:
      tags:
        - Staff
      summary: Get staff availability
      description: Retrieve availability schedule for a staff member
      operationId: getStaffAvailability
      parameters:
        - $ref: '#/components/parameters/staffId'
        - name: date
          in: query
          description: Specific date to check availability (ISO 8601)
          schema:
            type: string
            format: date-time
            examples:
              - "2024-01-20T00:00:00Z"
      responses:
        '200':
          description: Availability schedule retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffAvailability'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Staff
      summary: Update staff availability
      description: Set working hours and availability periods
      operationId: updateStaffAvailability
      parameters:
        - $ref: '#/components/parameters/staffId'
      requestBody:
        description: Availability schedule
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StaffAvailabilityRequest'
      responses:
        '200':
          description: Availability updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StaffAvailability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications:
    get:
      tags:
        - Notifications
      summary: List notifications
      description: Retrieve notification history for the current user
      operationId: listNotifications
      parameters:
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/offset'
        - name: type
          in: query
          description: Filter by notification type
          schema:
            type: string
            enum:
              - appointment
              - client-message
              - system
              - payment
              - review
        - name: read
          in: query
          description: Filter by read status
          schema:
            type: boolean
      responses:
        '200':
          description: Notifications retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Notification'
                  - $ref: '#/components/schemas/PaginatedResource'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /notifications/{notificationId}:
    get:
      tags:
        - Notifications
      summary: Get notification details
      description: Retrieve detailed information about a specific notification
      operationId: getNotification
      parameters:
        - $ref: '#/components/parameters/notificationId'
      responses:
        '200':
          description: Notification found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Notifications
      summary: Mark notification as read
      description: Update notification read status
      operationId: markNotificationAsRead
      parameters:
        - $ref: '#/components/parameters/notificationId'
      requestBody:
        description: Notification update
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - isRead
              properties:
                isRead:
                  type: boolean
      responses:
        '200':
          description: Notification updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Notification'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags:
        - Notifications
      summary: Delete notification
      description: Remove a notification from history
      operationId: deleteNotification
      parameters:
        - $ref: '#/components/parameters/notificationId'
      responses:
        '204':
          description: Notification deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /notifications/preferences:
    get:
      tags:
        - Notifications
      summary: Get notification preferences
      description: Retrieve user notification preferences and settings
      operationId: getNotificationPreferences
      responses:
        '200':
          description: Notification preferences retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags:
        - Notifications
      summary: Update notification preferences
      description: Configure notification channels and types
      operationId: updateNotificationPreferences
      requestBody:
        description: Notification preferences
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NotificationPreferencesRequest'
      responses:
        '200':
          description: Preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationPreferences'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: JWT Bearer token authentication
      bearerFormat: JWT
    apiKeyHeader:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key in request header

  parameters:
    clientId:
      name: clientId
      description: Unique identifier of the client
      in: path
      required: true
      schema:
        type: string
        format: uuid
    serviceId:
      name: serviceId
      description: Unique identifier of the service
      in: path
      required: true
      schema:
        type: string
        format: uuid
    appointmentId:
      name: appointmentId
      description: Unique identifier of the appointment
      in: path
      required: true
      schema:
        type: string
        format: uuid
    staffId:
      name: staffId
      description: Unique identifier of the staff member
      in: path
      required: true
      schema:
        type: string
        format: uuid
    notificationId:
      name: notificationId
      description: Unique identifier of the notification
      in: path
      required: true
      schema:
        type: string
        format: uuid
    limit:
      name: limit
      description: Maximum number of items to return
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 20
        minimum: 1
        maximum: 100
    offset:
      name: offset
      description: Number of items to skip
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 0
        minimum: 0

  responses:
    BadRequest:
      description: Bad Request - Invalid input parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Unauthorized - Authentication required or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Not Found - Resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Conflict:
      description: Conflict - Resource conflict or duplicate
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    User:
      description: User account information
      type: object
      required:
        - id
        - email
        - businessName
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          examples:
            - "550e8400-e29b-41d4-a716-446655440000"
        email:
          type: string
          format: email
          examples:
            - "nailmaster@example.com"
        businessName:
          type: string
          examples:
            - "Gorgeous Nails Studio"
        phone:
          type: string
          examples:
            - "+1-555-123-4567"
        createdAt:
          type: string
          format: date-time
          readOnly: true

    SignupRequest:
      description: Account registration request
      type: object
      required:
        - email
        - password
        - businessName
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          writeOnly: true
          minLength: 8
        businessName:
          type: string
          minLength: 2
        phone:
          type: string

    LoginRequest:
      description: Login credentials
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          writeOnly: true

    AuthToken:
      description: Authentication token response
      type: object
      properties:
        token:
          type: string
          examples:
            - eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        expiresIn:
          type: integer
          description: Token expiration time in seconds
          examples:
            - 86400

    Client:
      description: Client profile
      type: object
      required:
        - id
        - firstName
        - lastName
        - email
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          examples:
            - "550e8400-e29b-41d4-a716-446655440001"
        firstName:
          type: string
          minLength: 1
          examples:
            - "Sarah"
        lastName:
          type: string
          minLength: 1
          examples:
            - "Johnson"
        email:
          type: string
          format: email
          examples:
            - "sarah@example.com"
        phone:
          type: string
          pattern: '^\+?1?\d{9,15}$'
          examples:
            - "+1-555-987-6543"
        birthDate:
          type: string
          format: date-time
          description: Client's date of birth
          examples:
            - "1990-05-15T00:00:00Z"
        preferences:
          type: object
          description: Client service preferences and notes
          properties:
            favoriteServices:
              type: array
              description: List of preferred service IDs
              items:
                type: string
                format: uuid
            preferredTechnicians:
              type: array
              description: Preferred staff members
              items:
                type: string
                format: uuid
            notes:
              type: string
              maxLength: 500
              examples:
                - "Prefers gel extensions, allergic to acrylic, sensitive nails"
            color:
              type: string
              description: Favorite nail color
              examples:
                - "Rose gold"
        visitHistory:
          type: object
          readOnly: true
          properties:
            totalVisits:
              type: integer
              minimum: 0
              examples:
                - 12
            lastVisit:
              type: string
              format: date-time
              examples:
                - "2024-01-15T14:30:00Z"
            totalSpent:
              type: number
              format: float
              minimum: 0
              examples:
                - 450.75
        status:
          type: string
          enum:
            - active
            - inactive
            - vip
          default: active
          description: Client status/tier
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    ClientRequest:
      description: Client profile creation/update request
      type: object
      required:
        - firstName
        - lastName
        - email
      properties:
        firstName:
          type: string
          minLength: 1
        lastName:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        phone:
          type: string
        preferences:
          type: object
          properties:
            favoriteServices:
              type: array
              items:
                type: string
                format: uuid
            notes:
              type: string

    Service:
      description: Service offering in the catalog
      type: object
      required:
        - id
        - name
        - price
        - duration
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          examples:
            - "770e8400-e29b-41d4-a716-446655440002"
        name:
          type: string
          minLength: 1
          maxLength: 100
          examples:
            - "Gel Manicure"
            - "Acrylic Nails"
            - "Nail Art Design"
        description:
          type: string
          maxLength: 500
          examples:
            - "Professional gel manicure with color and design lasting 2-3 weeks"
        price:
          type: number
          format: float
          minimum: 0
          multipleOf: 0.01
          examples:
            - 35.50
        discountPrice:
          type: number
          format: float
          minimum: 0
          description: Sale or discounted price if applicable
          examples:
            - 29.99
        duration:
          type: integer
          description: Service duration in minutes
          minimum: 5
          examples:
            - 45
        category:
          type: string
          enum:
            - manicure
            - pedicure
            - extension
            - design
            - repair
            - other
          examples:
            - "manicure"
        image:
          type: string
          format: uri
          description: Service image URL
          examples:
            - "https://cdn.example.com/services/gel-manicure.jpg"
        isActive:
          type: boolean
          default: true
          examples:
            - true
        isFeatured:
          type: boolean
          default: false
          description: Featured service in catalog
        bookingCount:
          type: integer
          readOnly: true
          minimum: 0
          description: Total number of times this service was booked
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
          readOnly: true
          description: Average client rating
          examples:
            - 4.8
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    ServiceRequest:
      description: Service creation/update request
      type: object
      required:
        - name
        - price
        - duration
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        description:
          type: string
          maxLength: 500
        price:
          type: number
          format: float
          minimum: 0
          multipleOf: 0.01
        discountPrice:
          type: number
          format: float
          minimum: 0
        duration:
          type: integer
          minimum: 5
          maximum: 480
          description: Duration in minutes
        category:
          type: string
          enum:
            - manicure
            - pedicure
            - extension
            - design
            - repair
            - other
        image:
          type: string
          format: uri
        isActive:
          type: boolean
        isFeatured:
          type: boolean

    Appointment:
      description: Scheduled appointment
      type: object
      required:
        - id
        - clientId
        - serviceId
        - startTime
        - status
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          examples:
            - "880e8400-e29b-41d4-a716-446655440003"
        clientId:
          type: string
          format: uuid
          examples:
            - "550e8400-e29b-41d4-a716-446655440001"
        serviceId:
          type: string
          format: uuid
          examples:
            - "770e8400-e29b-41d4-a716-446655440002"
        staffId:
          type: string
          format: uuid
          description: Assigned technician (optional, system can assign)
          examples:
            - "660e8400-e29b-41d4-a716-446655440000"
        startTime:
          type: string
          format: date-time
          examples:
            - "2024-01-20T14:30:00Z"
        endTime:
          type: string
          format: date-time
          readOnly: true
          description: Calculated based on service duration
          examples:
            - "2024-01-20T15:15:00Z"
        status:
          type: string
          enum:
            - scheduled
            - confirmed
            - in-progress
            - completed
            - cancelled
            - no-show
          default: scheduled
          examples:
            - "scheduled"
        price:
          type: number
          format: float
          minimum: 0
          readOnly: true
          description: Total price including discounts
          examples:
            - 35.50
        paid:
          type: boolean
          default: false
          description: Payment status
        paymentMethod:
          type: string
          enum:
            - cash
            - card
            - mobile
            - other
          examples:
            - "card"
        notes:
          type: string
          maxLength: 500
          examples:
            - "Client prefers light pressure massage during service"
        reminderSent:
          type: boolean
          readOnly: true
          default: false
        reminderSentAt:
          type: string
          format: date-time
          readOnly: true
        cancelledReason:
          type: string
          description: Reason for cancellation if applicable
          examples:
            - "Client requested cancellation"
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    AppointmentRequest:
      description: Appointment creation/update request
      type: object
      required:
        - clientId
        - serviceId
        - startTime
      properties:
        clientId:
          type: string
          format: uuid
        serviceId:
          type: string
          format: uuid
        staffId:
          type: string
          format: uuid
          description: Optional - system will assign if not provided
        startTime:
          type: string
          format: date-time
        status:
          type: string
          enum:
            - scheduled
            - confirmed
            - in-progress
            - completed
            - cancelled
            - no-show
        notes:
          type: string
          maxLength: 500
        paymentMethod:
          type: string
          enum:
            - cash
            - card
            - mobile
            - other
        paid:
          type: boolean
        cancelledReason:
          type: string
          description: Required when cancelling an appointment

    DashboardMetrics:
      description: Key business metrics for dashboard
      type: object
      properties:
        period:
          type: string
          examples:
            - "2024-01"
        totalRevenue:
          type: number
          format: float
          examples:
            - 2450.75
        totalAppointments:
          type: integer
          examples:
            - 32
        completedAppointments:
          type: integer
          examples:
            - 31
        cancelledAppointments:
          type: integer
          examples:
            - 1
        newClients:
          type: integer
          examples:
            - 5
        totalClients:
          type: integer
          examples:
            - 87
        averageServicePrice:
          type: number
          format: float
          examples:
            - 45.25
        topServices:
          type: array
          items:
            type: object
            properties:
              serviceId:
                type: string
                format: uuid
              serviceName:
                type: string
              bookingCount:
                type: integer
              revenue:
                type: number
                format: float

    RevenueAnalytics:
      description: Revenue trend analysis
      type: object
      properties:
        startDate:
          type: string
          format: date-time
          examples:
            - "2024-01-01T00:00:00Z"
        endDate:
          type: string
          format: date-time
          examples:
            - "2024-01-31T23:59:59Z"
        totalRevenue:
          type: number
          format: float
        dailyRevenue:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                format: date-time
                examples:
                  - "2024-01-15T00:00:00Z"
              revenue:
                type: number
                format: float
              appointmentCount:
                type: integer
        averageDailyRevenue:
          type: number
          format: float
        growthPercentage:
          type: number
          format: float
          description: Month-over-month growth percentage

    ClientAnalytics:
      description: Client statistics and engagement metrics
      type: object
      properties:
        totalClients:
          type: integer
          examples:
            - 150
        newClientsThisMonth:
          type: integer
          examples:
            - 12
        returningClients:
          type: integer
          examples:
            - 138
        clientRetentionRate:
          type: number
          format: float
          description: Percentage of returning clients
          examples:
            - 92.0
        averageVisitsPerClient:
          type: number
          format: float
          examples:
            - 4.5
        clientsByFrequency:
          type: object
          properties:
            veryFrequent:
              type: integer
              description: 4+ visits/month
            frequent:
              type: integer
              description: 2-3 visits/month
            occasional:
              type: integer
              description: 1 visit/month
            inactive:
              type: integer
              description: No recent visits

    PaginatedResource:
      description: Pagination metadata
      type: object
      properties:
        meta:
          type: object
          properties:
            limit:
              type: integer
              examples:
                - 20
            offset:
              type: integer
              examples:
                - 0
            total:
              type: integer
              examples:
                - 150
            hasNextPage:
              type: boolean

    ErrorResponse:
      description: Standard error response
      type: object
      properties:
        error:
          type: string
          examples:
            - "Bad Request"
        message:
          type: string
          examples:
            - "Invalid email format"
        code:
          type: string
          examples:
            - "INVALID_INPUT"
        timestamp:
          type: string
          format: date-time

    Staff:
      description: Staff member / technician profile
      type: object
      required:
        - id
        - firstName
        - lastName
        - email
        - role
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
          examples:
            - "660e8400-e29b-41d4-a716-446655440000"
        firstName:
          type: string
          examples:
            - "Maria"
        lastName:
          type: string
          examples:
            - "Garcia"
        email:
          type: string
          format: email
          examples:
            - "maria@salonatelier.com"
        phone:
          type: string
          examples:
            - "+1-555-789-0123"
        role:
          type: string
          enum:
            - owner
            - manager
            - technician
            - receptionist
          description: Staff role and permissions level
          examples:
            - "technician"
        specialties:
          type: array
          description: Services the staff member specializes in
          items:
            type: string
            format: uuid
        status:
          type: string
          enum:
            - active
            - inactive
            - on-leave
          default: active
          examples:
            - "active"
        commission:
          type: number
          format: float
          description: Commission percentage or base commission amount
          minimum: 0
          examples:
            - 25.5
        joinDate:
          type: string
          format: date-time
          readOnly: true
        createdAt:
          type: string
          format: date-time
          readOnly: true
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    StaffRequest:
      description: Staff member creation/update request
      type: object
      required:
        - firstName
        - lastName
        - email
        - role
      properties:
        firstName:
          type: string
          minLength: 1
        lastName:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        phone:
          type: string
        password:
          type: string
          writeOnly: true
          minLength: 8
          description: Required for new staff members
        role:
          type: string
          enum:
            - owner
            - manager
            - technician
            - receptionist
        specialties:
          type: array
          items:
            type: string
            format: uuid
        status:
          type: string
          enum:
            - active
            - inactive
            - on-leave
        commission:
          type: number
          format: float
          minimum: 0

    StaffAvailability:
      description: Staff member working hours and availability
      type: object
      properties:
        staffId:
          type: string
          format: uuid
        weeklySchedule:
          type: object
          description: Working hours for each day of the week
          properties:
            monday:
              $ref: '#/components/schemas/DaySchedule'
            tuesday:
              $ref: '#/components/schemas/DaySchedule'
            wednesday:
              $ref: '#/components/schemas/DaySchedule'
            thursday:
              $ref: '#/components/schemas/DaySchedule'
            friday:
              $ref: '#/components/schemas/DaySchedule'
            saturday:
              $ref: '#/components/schemas/DaySchedule'
            sunday:
              $ref: '#/components/schemas/DaySchedule'
        specialClosures:
          type: array
          description: Dates when staff is unavailable
          items:
            type: object
            properties:
              startDate:
                type: string
                format: date-time
              endDate:
                type: string
                format: date-time
              reason:
                type: string
                examples:
                  - "Vacation", "Sick leave", "Training"

    DaySchedule:
      description: Working hours for a specific day
      type: object
      properties:
        isWorking:
          type: boolean
          description: Whether staff works on this day
          default: true
        startTime:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          description: Time in HH:MM format
          examples:
            - "09:00"
        endTime:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          description: Time in HH:MM format
          examples:
            - "18:00"
        breakStart:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          description: Lunch or break start time (HH:MM format)
          examples:
            - "12:00"
        breakEnd:
          type: string
          pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
          description: Lunch or break end time (HH:MM format)
          examples:
            - "13:00"

    StaffAvailabilityRequest:
      description: Staff availability update request
      type: object
      properties:
        weeklySchedule:
          type: object
          properties:
            monday:
              $ref: '#/components/schemas/DaySchedule'
            tuesday:
              $ref: '#/components/schemas/DaySchedule'
            wednesday:
              $ref: '#/components/schemas/DaySchedule'
            thursday:
              $ref: '#/components/schemas/DaySchedule'
            friday:
              $ref: '#/components/schemas/DaySchedule'
            saturday:
              $ref: '#/components/schemas/DaySchedule'
            sunday:
              $ref: '#/components/schemas/DaySchedule'
        specialClosures:
          type: array
          items:
            type: object
            required:
              - startDate
              - endDate
            properties:
              startDate:
                type: string
                format: date-time
              endDate:
                type: string
                format: date-time
              reason:
                type: string

    Notification:
      description: User notification
      type: object
      required:
        - id
        - type
        - message
        - createdAt
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        type:
          type: string
          enum:
            - appointment
            - client-message
            - system
            - payment
            - review
          examples:
            - "appointment"
        title:
          type: string
          examples:
            - "New Appointment Scheduled"
        message:
          type: string
          examples:
            - "Sarah Johnson booked a gel manicure for tomorrow at 2:00 PM"
        relatedEntity:
          type: object
          description: Reference to related resource
          properties:
            type:
              type: string
              enum:
                - appointment
                - client
                - service
                - staff
            id:
              type: string
              format: uuid
        isRead:
          type: boolean
          default: false
        actionUrl:
          type: string
          format: uri
          description: Deep link to navigate to related content
          examples:
            - "/appointments/550e8400-e29b-41d4-a716-446655440000"
        createdAt:
          type: string
          format: date-time
          readOnly: true
        readAt:
          type: string
          format: date-time
          readOnly: true

    NotificationPreferences:
      description: User notification preferences
      type: object
      properties:
        userId:
          type: string
          format: uuid
        emailNotifications:
          type: object
          description: Email notification settings
          properties:
            appointmentReminders:
              type: boolean
              default: true
            appointmentConfirmations:
              type: boolean
              default: true
            clientMessages:
              type: boolean
              default: true
            paymentAlerts:
              type: boolean
              default: true
            reviewNotifications:
              type: boolean
              default: true
            businessReports:
              type: boolean
              default: true
        pushNotifications:
          type: object
          description: Push notification settings
          properties:
            appointmentReminders:
              type: boolean
              default: true
            clientMessages:
              type: boolean
              default: true
            urgentAlerts:
              type: boolean
              default: true
        smsNotifications:
          type: object
          description: SMS notification settings
          properties:
            appointmentReminders:
              type: boolean
              default: false
            appointmentConfirmations:
              type: boolean
              default: false
        quietHours:
          type: object
          description: Do not disturb time window
          properties:
            enabled:
              type: boolean
              default: false
            startTime:
              type: string
              pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
              description: Quiet hours start time (HH:MM format)
              examples:
                - "22:00"
            endTime:
              type: string
              pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
              description: Quiet hours end time (HH:MM format)
              examples:
                - "08:00"
        updatedAt:
          type: string
          format: date-time
          readOnly: true

    NotificationPreferencesRequest:
      description: Notification preferences update request
      type: object
      properties:
        emailNotifications:
          type: object
          properties:
            appointmentReminders:
              type: boolean
            appointmentConfirmations:
              type: boolean
            clientMessages:
              type: boolean
            paymentAlerts:
              type: boolean
            reviewNotifications:
              type: boolean
            businessReports:
              type: boolean
        pushNotifications:
          type: object
          properties:
            appointmentReminders:
              type: boolean
            clientMessages:
              type: boolean
            urgentAlerts:
              type: boolean
        smsNotifications:
          type: object
          properties:
            appointmentReminders:
              type: boolean
            appointmentConfirmations:
              type: boolean
        quietHours:
          type: object
          properties:
            enabled:
              type: boolean
            startTime:
              type: string
              pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
              description: Time in HH:MM format
            endTime:
              type: string
              pattern: '^([0-1][0-9]|2[0-3]):[0-5][0-9]$'
              description: Time in HH:MM format
